<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="AppiumSuite">
    <test name="SampleTestRun">
        <classes>
            <class name="org.example.sampleTest"/>
        </classes>
    </test>
</suite>
<listeners>
<listener class-name="org.example.utils.ExtentTestListener"/>
</listeners>
